@media (max-width: 850px) {
    .sobre {
        margin: 6rem 0;
    }
    .sobre-mim {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .tech-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 1rem;
        width: 100%;
    }

    .tech-section {
        justify-content: flex-start;
    }

    .projetos-caixa {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .menu {
        gap: 1rem;
    }

    .menu-link {
        font-size: 0.8rem;
    }

    .sobre-mim {
        grid-template-columns: 1fr !important;
        gap: 2rem;
        text-align: center;
    }

    .cabecalho {
        flex-direction: column;
        text-align: center;
    }

    .inicio-texto {
        padding: 0 2rem;
    }

    .inicio-icon {
        justify-content: center;
    }

    .sobre {
        padding: 4rem 1.5rem;
    }

    .tech-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .projetos-caixa {
        grid-template-columns: 1fr;
    }

    .inicio-titulo {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .tech-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .cabecalho-texto {
        width: 250px;
    }
    .inicio-texto {
        width: 400px;
        height: 350px;
    }

    .principal {
        margin-top: 6rem;
    }

    .tech-grid-item {
        padding: 1rem 0.5rem;
    }

    .foto-perfil {
        width: 140px;
        height: 140px;
    }
}