@import url("error.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--maisEscuro);
    color: var(--claro);
}

.navegacao {
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    width: 100%;
    padding-inline: 0.5rem 0;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.principal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 12rem;
    margin-bottom: 6rem;
}

.foto-perfil {
    width: 400px;
    height: 400px;
    max-width: 100%;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 5s ease-in-out infinite;
    cursor: pointer;
}

h1 {
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background:
    radial-gradient(circle at 1% 15%, var(--primaria) 0%, transparent 15%),
    radial-gradient(circle at 95% 85%, var(--secundaria) 0%, transparent 15%),
    var(--maisEscuro);
}

.inicio-titulo {
    text-align: center;
}

.inicio-icon {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    gap: 1rem
}

.link-icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, var(--primaria,), var(--secundaria));
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    color: var(--claro);
    transition: all 0.5s ease;
}

.link-icon:hover {
    transform: translateY(-5px);
    background: var(--claro);
    border: 1px solid var(--vidro);
    color: var(--escuro)
}

.cabecalho-sub-titulo {
    font-size: 2rem;
    color: var(--claro);
    font-weight: 700;
    position: relative;
    transition: all 0.5s ease;
    text-align: center;
    width: 620px;
}

.cabecalho-sub-titulo::before {
    content: '';
    animation: palavras 20s infinite;
}

.cabecalho-sub-titulo::after {
    content: '';
    position: absolute;
    height: 100%;
    border-left: 2px solid var(--primaria);
    right: -8px;
    animation: cursor 0.8s infinite, digita 20s steps(70) infinite;
    width: calc(100% + 20px);
    background-color: var(--maisEscuro);
}

.lista-tecnologia {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.inicio-imagem {
    width: 50px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border: 4px solid var(--vidro);
    transition: ease 0.3s;
}

.inicio-imagem:hover {
    transform: translateY(-5px);
}

.sobre {
    padding: 8rem;
    margin: 6rem 0;
}

.sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 6rem;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.2rem;
}

.projetos {
    padding: 6rem 2rem;

}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 6rem;
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.projetos-image {
    width: 100%;
    height: 200px;
    object-fit: cover;

}

.projetos-textos {
    padding: 1.5rem;
}

.projetos-info {
    margin-bottom: 5px;
}

.projetos-paragrafos {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}

.contatos {
    padding: 6rem 2rem;
}

.contatos-titulo {
    text-align: center;
    margin-bottom: 6rem;
    font-size: 2.5rem;
}

.contatos-formulario {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    border-radius: 16px;
    padding: 2rem;
}

.group-form {
    margin-bottom: 1rem;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
    margin-top: 6px;
    transition: all 0.3s ease;
}

.label-form {
    color: var(--claro);
    font-size: 12px;
}

.campo-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria,), var(--secundaria));
    padding: 1rem 2rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 79, 299, 0.4);
}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-35px)
    }
}

@keyframes palavras {
    0%, 20% {
        content: 'Desenvolvedor BackEnd'
    }

    21%, 40% {
        content: 'Sistemas Robustos e escaláveis'
    }

    41%, 60% {
        content: 'Código limpo'
    }

    61%, 80% {
        content: 'Análise e Desenvolvimento de Sistemas'
    }

    81%, 100% {
        content: 'Salvador - Bahia'
    }
}

@keyframes cursor {
    0% {
        border-left: 2px solid (var(--maisEscuro))
    }
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }

    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 20px);
    }
}

@media (max-width: 1024px) {
    .cabecalho {
        gap: 6rem; /* Reduz o espaço entre o texto e a foto */
    }

    .foto-perfil {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 768px) {
    .navegacao {
        padding: 1rem;
    }

    .menu {
        gap: 1.5rem;
    }
    
    .principal {
        padding: 4rem 2rem;
        padding-top: 6rem; 
        margin-bottom: 1rem;
    }

    .cabecalho {
        flex-direction: column; 
        gap: 3rem;
        margin-bottom: 4rem;
    }
    
    .foto-perfil {
        width: 250px;
        height: 250px;
    }

    .sobre {
        padding: 3rem
    }
    
    h1 {
        font-size: 2.5rem;
    }

    .cabecalho-sub-titulo {
        font-size: 1.5rem; 
        width: 100%;
    }
    
    .projetos-caixa {
        grid-template-columns: 1fr; 
        max-width: 400px;
    }
}

@media (max-width: 480px) {
    .menu {
        flex-direction: column; 
        gap: 0.5rem;
        text-align: center;
    }

    .menu-link {
        padding: 0.5rem 0;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    .foto-perfil {
        width: 180px;
        height: 180px;
    }
    
    .cabecalho-sub-titulo {
        font-size: 1.2rem;
    }
}


@media (max-width: 480px) {
    .menu {
        flex-direction: column; /* Coloca os itens do menu em coluna */
        gap: 0.5rem; /* Espaçamento menor entre os itens do menu */
        text-align: center;
        box-sizing: border-box;
    }

    .menu-link {
        padding: 0.5rem 0;
    }
    
    h1 {
        font-size: 2rem; /* Reduz ainda mais o título principal */
    }
    
    .foto-perfil {
        width: 200px;
        height: 200px;
    }
    
    .cabecalho-sub-titulo {
        font-size: 1.2rem;
    }

    .lista-tecnologia {
        gap: 1rem; /* Reduz o espaço entre as logos */
        flex-wrap: wrap; /* Permite que as logos quebrem a linha se necessário */
    }
    
    .inicio-imagem {
        width: 30px; /* Reduz o tamanho da logo */
    }
}